[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[C4F620C6F620BB16]
row=2
col=0

[6C782A7C782A4564]
row=1
col=0

[1A768A51768A2E17]
row=0
col=0

[Trash]
row=3
col=0

[/]
row=4
col=0

[/home/ervan]
row=5
col=0

